a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,dialog,div,dl,dt,em,embed,fieldset,figcaption,figure,font,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,hr,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,meter,nav,object,ol,output,p,pre,progress,q,rp,rt,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video,xmp{
    border:0;
    margin:0;
    padding:0;
    font-size:100%
}
b,strong{
    font-weight:normal
}
img{
    color:transparent;
    font-size:0;
    vertical-align:middle;
    -ms-interpolation-mode:bicubic
}
ol,ul{
    list-style:none
}
li{
    display:list-item
}
table{
    border-collapse:collapse;
    border-spacing:0
}
th,td,caption{
    font-weight:normal;
    vertical-align:top;
    text-align:right
}
q{
    quotes:none
}
q:before,q:after{
    content:'';
    content:none
}
sub,sup,small{
    font-size:75%
}
sub,sup{
    line-height:0;
    position:relative;
    vertical-align:baseline
}
sub{
    bottom:-0.25em
}
sup{
    top:-0.5em
}
svg{
    overflow:hidden;
    position:absolute;
    top:-9999px
}
strong,h1,h2,h3,h4,h5,h6{
    font-weight:normal
}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{
    display:block
}
audio[controls],canvas,video{
    display:inline-block;
    *display:inline;
    *zoom:1
}
pre{
    white-space:pre-wrap;
    white-space:-moz-pre-wrap;
    white-space:-pre-wrap;
    white-space:-o-pre-wrap;
    word-wrap:break-word
}
html{
    font-size:100%;
    -webkit-overflow-scrolling:touch;
    -webkit-tap-highlight-color:transparent;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
    min-height:100%;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:greyscale
}
body{
    margin:0;
    font-family: Helvetica, Arial, sans-serif;
    color:#353535;
    font-size:17px;
    line-height:1.35;
        letter-spacing: .65px;
    overflow:hidden;
    min-height:100%;
    -webkit-transition:background-color 0.5s linear;
    -moz-transition:background-color 0.5s linear;
    transition:background-color 0.5s linear;
    -webkit-perspective:0;
    -webkit-backface-visibility:hidden
}
body.end-loading{
    overflow-y:scroll
}
body.end-loading.single-type_slide{
    overflow-y:auto
}
.os-windows body.end-loading .wrap{
    padding-right:0
}
body.page-about-the-studio .sub-menu-about{
    display:block
}
.pace{
    -webkit-pointer-events:none;
    pointer-events:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    user-select:none
}
.pace-inactive{
    display:none
}
.pace .pace-progress{
    background:#2265FF;
    position:fixed;
    z-index:1999;
    top:0;
    right:100%;
    width:100%;
    height:2px
}
.sub-menu-project,.text-list .list{
    padding-left:80px
}
.sub-menu-about{
    padding-left:226px;
}
.page-about-the-studio .inner,
.page-employment .inner{
    padding-left:242px
}
.page-get-in-touch .inner{
    padding-left:309px
}
.text-list .list{
    margin-bottom:1em
}
body.term-selected ul.sub-sub-menu li:first-child a,body.page-about-the-studio .menu-about-the-studio a{
    color:#353535
}
body.page-text .sub-menu-project,body.tax-project_category .sub-menu-project,body.page-project-archive .sub-menu-project{
    display:block
}
body.page-text .menu-projects a,body.tax-project_category .menu-projects a,body.page-project-archive .menu-projects a,body.page-text .menu-project-archive a,body.tax-project_category .menu-project-archive a,body.page-project-archive .menu-project-archive a{
    color:#353535
}
body.single-type_project .menu-projects a,body.single-type_project .menu-project-archive a{
    color:#353535
}
body.page-text .menu-text a,body.tax-project_category .menu-image a{
    color:#353535
}
button,input,select,textarea{
    font-family: Helvetica, Arial, sans-serif;
    color:inherit
}
::-moz-selection{
    background:#353535;
    text-shadow:none;
    color:#fff
}
::selection{
    background:#353535;
    text-shadow:none;
    color:#fff
}
a{
    color:#b0b0b0;
    outline:none;
    text-decoration:none;
    -webkit-transition:color 0.2s linear;
    -moz-transition:color 0.2s linear;
    transition:color 0.2s linear
}
html a:hover{
    text-decoration:none;
    color:#353535
}
a:focus,a:hover,a:active{
    outline:0
}
.clear{
    clear:both;
    display:block;
    overflow:hidden;
    visibility:hidden;
    width:0;
    height:0
}
.clearfix:before,.clearfix:after{
    content:'.';
    display:block;
    overflow:hidden;
    visibility:hidden;
    font-size:0;
    line-height:0;
    width:0;
    height:0
}
.clearfix:after{
    clear:both
}
.clearfix{
    zoom:1
}
.center{
    padding:20px;
    text-align:center
}
.os-windows .wrap{
    position:relative;
    padding-right:17px
}
.inner{
    padding:0 110px 0 105px;
    position:relative;
    max-width:650px
}
.inner .inner-content{
    padding:0
}
.player .video-wrapper .video{
    background-size:contain
}
.player .video-wrapper{
    background:#fff !important
}
#player{
    background-color:#fff !important
}
.welcome{
    position:fixed;
    z-index:1009;
    background:#000;
    width:100%;
    height:100vh;
    left:0;
    top:0
}
.welcome .bg{
    position:absolute;
    height:100%;
    width:100%;
    left:0;
    bottom:0;
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity:0;
    -webkit-transition:opacity 0.75s linear 0.75s;
    -moz-transition:opacity 0.75s linear 0.75s;
    transition:opacity 0.75s linear 0.75s;
    font-family:"Times NR W01 Seven", "Times New Roman", Georgia, Serif;
    letter-spacing:0;
    color:#f0f0f0;
    text-align:center;
    font-size:14px;
    line-height:115%
}
.welcome .bg .text{
    height:inherit;
    width:100%;
    display:table
}
.welcome .bg .col{
    display:table-cell;
    vertical-align:middle;
    height:100%;
    width:100%
}
.welcome .bg .col p{
    display:inline-block
}
.welcome .bg.show{
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity:1
}
.loading{
    position:fixed;
    left:50%;
    top:50%;
    height:26px;
    width:26px;
    z-index:1001;
    margin:-13px 0 0 -13px
}
.loading.hide{
    display:none
}
.header{
    padding:15px;
    position:relative;
    z-index:998;
    background-color:white
}
.header .logo{
    float:left;
    width:auto;
    text-transform:uppercase;
    width:78px
}
.header .navi{
    float:left;
}
.header .navi .menu{
    display: inline-block;
}
.header .navi li{
    display:inline-block;
    padding-right:14px
}
.header .sub-menu{
    display:none;
    clear:both;
    padding-bottom:20px
}
body.page-employment .header .sub-menu-about,
body.page-about-the-studio .header .sub-menu-about{
    display:block !important;
}
body.page-employment .header .sub-menu-employment,
body.page-project-manager-producer .header .sub-menu-employment,
body.page-designer-art-director .header .sub-menu-employment{
    display:block !important;
    clear:both;
    padding-bottom:20px
}
.header .sub-menu>.menu{
    padding:15px 0
}
.header .sub-sub-menu{
    display:none
}


.term-4 li.menu-item-4 a,
.term-5 li.menu-item-5 a,
.term-6 li.menu-item-6 a,
.term-7 li.menu-item-7 a,
.term-8 li.menu-item-8 a,
.term-70 li.menu-item-70 a,
.page-biography li.menu-extra-studio-activity a,
.page-people li.menu-people a,
.page-selected-clients li.menu-clients-and-commissioners a,
.page-introduction li.menu-introduction a,
.page-get-in-touch li.menu-contact a,
.page-about-the-studio li.menu-about a,
.header .logo a,
.page-employment li.menu-employment a{
    color:#353535
}
.header .desc{
    float:left;
    width:460px;
    color:#b5b9c2;
    display:none
}
.header .desc p{
    margin:0 0 20px
}
.home .header .desc{
    display:block
}
.menu-item-image{
    padding-bottom:15px
}
#footer .menu-case-studies a{
    color:#353535
}
#footer{
    padding:30px 20px 60px
}
.slider-list{
    padding:0;
    width:960px;
    margin:0 auto
}
.slider-list .item{
    position:relative;
    padding:30px 30px 65px;
    box-sizing:border-box;
    clear:both
}
.slider-list .item-small{
    float:left;
    width:50%;
    clear:none
}
.slider-list .item img{
    width:100%;
    display:block;
    height:auto
}
.slider-list .item>a{
    display:block;
    position:relative
}
.slider-list .item .hover{
    display:none;
    z-index:3
}
.slider-list .item video{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:99;
    background:#fff;
    display:block
}
.slider-container .item .table .col .video-js{
    position:relative;
    margin:0 auto;
    z-index:99;
    background:#fff;
    display:block
}
.slider-list .item-1 .hover-text{
    z-index:2
}
.slider-list .item-1 .hover-text,.slider-list .item-1 .hover{
    display:block;
    position:absolute;
    left:0;
    top:0;
    width:100%;
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity:1;
    -webkit-transition:opacity 0.25s ease-out 0.25s;
    -moz-transition:opacity 0.25s ease-out 0.25s;
    transition:opacity 0.25s ease-out 0.25s;
    height:100%;
    -webkit-perspective:0;
    -webkit-backface-visibility:hidden
}
.slider-list .item-1 .hover img{
    position:absolute;
    left:0;
    top:0;
    width:100%
}
.slider-list .item-1 .hover-text>div{
    display:table;
    height:100%;
    width:100%;
    position:relative;
    z-index:3
}
.slider-list .item-1 .hover-text>div p{
    color:#fff;
    font-family:"Times NR W01 Seven", "Times New Roman", Georgia, Serif;
    letter-spacing:0;
    display:table-cell;
    text-align:center;
    vertical-align:middle;
    height:100%;
    width:100%;
    font-size:33px;
    line-height:130%;
    letter-spacing:1px
}
.slider-list .item-1 a:hover .hover{
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity:0
}
.slider{
    position:relative;
    height:100%;
    width:100%;
    overflow:hidden;
    left:0;
    top:0
}
.slider-container{
    position:relative
}
.scrollbar-measure{
    width:100px;
    height:100px;
    overflow:scroll;
    position:absolute;
    top:-9999px
}
.end-loading .slider{
    position:fixed;
    left:0;
    top:0;
    height:100vh
}
.end-loading .slider .slider-content{
    height:inherit
}
.single-type_project .wrap{
    min-height:100vh
}
body.single-type_project .header .navi li.menu-item-archive {
	display: none;
}
.end-loading .slider-container{
    position:fixed;
    overflow:visible;
    left:0;
    top:47px;
    right:0;
    height:calc(100vh - 106px)
}
.is-mobile .slider{
    position:fixed;
    left:0;
    top:0
}
.is-mobile .slider-container{
    position:fixed;
    left:12px;
    top:10px;
    right:12px;
    bottom:60px
}
.slider-container .item{
    text-align:center;
    height:9999px;
    position: relative;
    z-index: 1;
}


.slider-container .item.current {
    z-index: 9;
}


.slider-container .item .table{
    display:table;
    height:inherit;
    width:100%
}
.slider-container .item .table .col{
    display:table-cell;
    width:100%;
    height:inherit;
    vertical-align:middle;
    text-align:center
}
.slider-container .item .table .col img{
    max-height:100%;
    max-width:95%;
    zoom:2
}
.slider-container .item.text{
    font-family:"Times NR W01 Seven", "Times New Roman", Georgia, Serif;
    letter-spacing:0;
    font-size:35px;
    line-height:1.25
}
.slider-container .item.text .col{
    padding:0 15%
}
.slider-container .bx-wrapper .item{
    height:inherit;
    background: #fff;
}
.slider-container .bx-controls{
    display:none
}
#slider{
    height:inherit
}
.more-content{
    position:fixed;
    left:0;
    height:100vh;
    width:100%;
    top:0;
    background:#fff;
    z-index:100;
    overflow-x:auto;
    display:none
}
.more-content .box{
    max-width:650px;
    margin-left:395px;
    margin-top:3em
}
.more-content .box aside{
    padding-bottom:3em
}
.cover-content{
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    top:0;
    background:#fff;
    z-index:100;
    overflow-x:auto;
    display:none
}
.cover-content:hover{
    cursor:url(../images/next.png) 25 0,url(/wp-content/themes/ok-rm/images/next.cur) 25 0,auto;
    cursor:-webkit-image-set(url(../images/next.png) 1x) 25 0,auto
}
.cover-content .box{
    max-width:1000px;
    box-sizing:border-box;
    margin:0 auto;
    height:100%;
    display:table;
    background:#fff
}
.cover-content .box .col{
    display:table-cell;
    height:inherit;
    width:100%;
    vertical-align:middle;
    text-align:center;
    font-family:"Times NR W01 Seven", "Times New Roman", Georgia, Serif;
    color:#000;
    font-size:33px;
    line-height:130%;
    letter-spacing:1px
}
.slider-title{
    position:fixed;
    left:395px;
    top:15px;
    right:15px;
    z-index:999;
    display:none
}
.slider-title h1{
    display:inline-block;
    padding-right:15px
}
.show-sc{
    padding-right:0.6em !important
}
.slider-title .close{
    padding-right:15px
}
.slider-title .reader-more{
    padding-right:1em;
    color:#b0b0b0;
    -webkit-transition:color 0.2s linear;
    -moz-transition:color 0.2s linear;
    transition:color 0.2s linear;
    cursor:pointer
}
.slider-title .reader-more:hover{
    color:#353535
}
.pagenavi_next{
    position:absolute;
    right:15px;
    top:15px;
    z-index:999;
    cursor:pointer
}
.bx-prev{
    background:url(../images/prev.png) -9999px no-repeat;
    left:0;
    top:0;
    bottom:50px;
    width:48%;
    z-index:99;
    position:absolute
}
.bx-prev.disabled{
    display:none
}
.bx-next{
    background:url(../images/next.png) -9999px no-repeat;
    right:0;
    top:0;
    bottom:50px;
    width:48%;
    z-index:99;
    position:absolute
}
.is-video-slide .bx-next,.is-video-slide .bx-prev{
    bottom:150px
}
.bx-prev:hover{
    cursor:url(../images/prev.png),url(/wp-content/themes/ok-rm/images/prev.cur),auto;
    cursor:-webkit-image-set(url(../images/prev.png) 1x),auto
}
.next-project-link:hover,.bx-next:hover{
    cursor:url(../images/next.png) 25 0,url(/wp-content/themes/ok-rm/images/next.cur) 25 0,auto;
    cursor:-webkit-image-set(url(../images/next.png) 1x) 25 0,auto
}
.next-project-link{
    background:url(../images/next.png) -9999px no-repeat;
    right:0;
    top:0;
    width:50%;
    height:100%;
    z-index:-1;
    position:absolute;
    display:none
}
.next-project-link.show-link{
    z-index:101;
    display:block
}
.page-content{
    padding:0 0 40px;
    color:#353535
}
.post-list{
    padding:0 0 40px 0
}
.post-list .post{
    padding:0 0 60px 0
}
.post-list .post time{
    float:left;
    width:125px
}
.post-list .gallery-item{
    margin:20px 0
}
.post-list .gallery-item img{
    width:100%;
    display:block;
    height:auto
}
.post-list .post h1{
    float:left
}
.post-list .post span{
    color:#b0b0b0
}
.page-announcements .post-list .gallery-item{
    width:775px;
    float:right;
    margin-bottom:20px
}
.page-announcements .post-list .gallery-item img{
    max-height:775px;
    width:auto;
    max-width:775px;
    margin:0 auto
}
.page-announcements header{
    clear:both
}
.page-announcements .news-read-more{
    cursor:pointer
}
.enter p{
    margin:0 0 20px 0
}
.page-employment .inner p:first-child{
    margin: 0 0 0 0;
}
.page-employment .inner p{
    margin: 20px 0 0 0;
}
.enter h1,.enter h2,.enter h3,.enter h4,.enter h5{
    margin:20px 0
}
.page-employment .enter h1{
    margin: 20px 0 0 0;
/*    color: #b0b0b0;*/
}
.enter ul{
    margin:20px 0
}
.page-employment .inner ul{
    margin: 0 0 20px 0;
}
.enter ul li{
    list-style:disc outside none;
    margin-left:20px
}
.page-employment .inner ul li{
    list-style: none;
    margin-left: 1em;
    text-indent: -1em;
}
.enter ol{
    margin:20px 0
}
.enter ol li{
    list-style:decimal outside none;
    margin-left:20px
}
.enter img,.enter object,.enter iframe,.enter input,.enter textarea{
    max-width:100%
}
.enter img{
    height:auto
}
.enter blockquote{
    display:block
}
.video-embed{
    height:0;
    overflow:hidden;
    padding-bottom:56.249%;
    position:relative
}
.video-embed iframe{
    height:100%;
    left:0;
    position:absolute;
    top:0;
    width:100%
}
.video-embed.r_16_9{
    padding-bottom:56%
}
.footer{
    display:none
}
.home .footer{
    display:block
}
.home{
    background-color:#fff
}
/*.home .menu-selected-projects a{
    color:#353535
}*/
.home a{
    color:#b5b9c2
}
.home .num{
    position:fixed;
    bottom:20px;
    left:15px
}
#slider,.bx-wrapper,.bx-viewport,.bx-viewport .item{
    height:calc(100vh - 106px) !important
}
.single-type_slide{
    background-color:#fff
}
.project-list{
    margin:0 auto;
    padding:0 62px
}
.project-list>article{
    width:25%;
    float:left
}
.term-selected .project-list>article{
    width:33.3%
}
.term-selected .project-list>article:nth-child(3n+1){
    clear:left !important
}
.term-selected .project-list>article:nth-child(4n+1){
    clear:none
}
.project-list>article:nth-child(4n+1){
    clear:left
}
.project-list>article .content{
    display:block;
    padding:10px 35px 0 35px;
    position:relative
}
.project-list>article .content .col{
    position:relative
}
.project-list>article .content h1{
    padding:10px 0 0 0;
    color:#fff;
    -webkit-transition:color 0.2s linear;
    -moz-transition:color 0.2s linear;
    transition:color 0.2s linear;
    height:70px
}
.project-list>article .content img{
    width:100%
}
.project-list>article .content:hover h1{
    color:#353535
}
.project-list>article .content .hover{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity:1;
    -webkit-transition:opacity 0.25s ease-out 0.25s;
    -moz-transition:opacity 0.25s ease-out 0.25s;
    transition:opacity 0.25s ease-out 0.25s;
    height:100%;
    -webkit-perspective:0;
    -webkit-backface-visibility:hidden
}
.project-list>article .content .hover img{
    position:absolute;
    left:0;
    top:0;
    width:100%
}
.project-list>article .content:hover .hover{
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity:0
}
.project-gallery{
    margin:0 auto
}
.project-gallery .text{
    clear:both;
    padding:20px 20px 0 20px
}
.project-gallery .gallery-item.left{
    width:50%;
    float:left
}
.project-gallery .gallery-item.all{
    clear:both
}
.project-gallery .gallery-item .content{
    padding:20px 20px 60px 20px;
    position:relative
}
.project-gallery .gallery-item img{
    width:100%
}
.project-gallery .gallery-item .content .video{
    position:absolute;
    left:20px;
    top:20px;
    right:20px;
    bottom:20px;
    z-index:9
}
.project-gallery .gallery-item .content .video video{
    background:#fff
}
.project-header{
    padding-bottom:20px
}
.project-footer{
    padding-bottom:40px
}
.project-footer aside{
    padding-bottom:20px
}
.text-list{
    padding:15px
}
.text-list .list h1{
    color:#353535;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap
}
.inner .inner-content{
    padding:0 125px
}
.sub-menu-image{
    padding-top:15px;
    padding-bottom:5px !important
}
.sub-menu-image .menu-item-selected a{
    color:#b0b0b0
}
.sub-menu-image .menu-item-archive span{
    -webkit-transition:color 0.2s linear;
    -moz-transition:color 0.2s linear;
    transition:color 0.2s linear;
    cursor:pointer;
    color:#353535
}
.sub-menu-image .menu-item-archive span:hover{
    color:#353535
}
.term-70 .sub-menu-image .menu-item-selected a{
    color:#353535
}
.term-70 .sub-menu-image .menu-item-archive span{
    color:#b0b0b0
}
body.active-image-menu .sub-menu-image .menu-item-selected a{
    color:#b0b0b0
}
body.active-image-menu .sub-menu-image .menu-item-archive span{
    color:#353535
}
.sub-sub-menu-image{
    display:none;
    padding-top:15px
}
.sub-sub-menu-image .menu-item-70{
    display:none
}
body.tax-project_category .sub-sub-menu-image{
    display:block
}
body.tax-project_category.term-70 .sub-sub-menu-image{
    display:none
}
.tax-project_category .header .sub-menu-image{
    display:block
}
.tax-project_category .menu-item-archive a{
    color:#353535
}
.tax-project_category.term-selected .menu-item-archive a{
    color:#b0b0b0
}
.sub-sub-menu-image>li{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    max-width:540px;
    color:#b0b0b0
}
.project-list>article .content h1{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    max-width:100%
}
/*! Video.js Default Styles (http://videojs.com) Version 4.9.0 Create your own skin at http://designer.videojs.com */
.vjs-default-skin{
    color:#b0b0b0
}
.vjs-default-skin .vjs-slider{
    outline:0;
    position:relative;
    cursor:pointer;
    padding:0;
    background:#b0b0b0
}
.vjs-default-skin .vjs-slider-handle{
    position:absolute;
    left:0;
    top:0
}
.js_autoplay .vjs-control-bar{
    display:none !important
}
.vjs-default-skin .vjs-control-bar{
    display:block;
    position:absolute;
    bottom:0px;
    left:1px;
    right:0px;
    height:100%
}
.is_autoplay .vjs-control-bar{
    display:none !important
}
.vjs-default-skin.vjs-has-started.vjs-user-inactive.vjs-playing .vjs-control-bar{
    display:block;
    visibility:hidden;
    opacity:0;
    -webkit-transition:visibility 1s, opacity 1s;
    -moz-transition:visibility 1s, opacity 1s;
    -o-transition:visibility 1s, opacity 1s;
    transition:visibility 1s, opacity 1s
}
.vjs-default-skin.vjs-controls-disabled .vjs-control-bar{
    display:none
}
.vjs-default-skin.vjs-using-native-controls .vjs-control-bar{
    display:none
}
.vjs-default-skin.vjs-error .vjs-control-bar{
    display:none
}
.vjs-audio.vjs-default-skin.vjs-has-started.vjs-user-inactive.vjs-playing .vjs-control-bar{
    opacity:1;
    visibility:visible
}
.vjs-default-skin .vjs-control{
    outline:none;
    float:left;
    text-align:center;
    margin:0;
    padding:0;
    height:50px;
    color:#b0b0b0
}
.vjs-default-skin .vjs-control-text{
    border:0;
    clip:rect(0 0 0 0);
    height:1px;
    margin:-1px;
    overflow:hidden;
    padding:0;
    position:absolute;
    width:1px
}
.vjs-default-skin .vjs-playing .vjs-control-content,.vjs-default-skin .vjs-paused .vjs-control-content{
    width:80px;
    height:100%;
    z-index:3;
    left:50%;
    margin-left:-30px;
    cursor:pointer;
    background:url(../images/play.png) center center no-repeat;
    background-size:80px auto;
    position:absolute;
    opacity:.8
}
.project-info{
    position:fixed;
    left:10px;
    bottom:20px;
    z-index:999;
    right:10px;
    background-color:#fff;
    text-align:center
}
.project-info h2{
    position:absolute;
    width:100%;
    left:0;
    bottom:0;
    background: #fff;
}
.project-info a{
    position:absolute;
    bottom:0px;
    right:15px
}
.project-inner.has_link a:hover{
    color:#333 !important
}
.vjs-default-skin .vjs-playing .vjs-control-content{
    background:url(../images/pulse.png) center center no-repeat;
    background-size:80px auto
}
.vjs-default-skin .vjs-playback-rate .vjs-playback-rate-value{
    font-size:1.5em;
    line-height:2;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    text-align:center;
    text-shadow:1px 1px 1px rgba(0,0,0,0.5)
}
.vjs-default-skin .vjs-playback-rate.vjs-menu-button .vjs-menu .vjs-menu-content{
    width:4em;
    left:-2em;
    list-style:none
}
.vjs-default-skin .vjs-mute-control,.vjs-default-skin .vjs-volume-menu-button{
    display:none
}
.vjs-default-skin .vjs-progress-control{
    position:absolute;
    left:0px;
    right:1px;
    width:auto;
    font-size:0.3em;
    height:6px;
    bottom:0px;
    opacity:.75
}
body.single-type_project .vjs-default-skin .vjs-progress-control{
    bottom:20px
}
.vjs-default-skin .vjs-progress-holder{
    height:100%
}
.vjs-default-skin .vjs-progress-holder .vjs-play-progress,.vjs-default-skin .vjs-progress-holder .vjs-load-progress,.vjs-default-skin .vjs-progress-holder .vjs-load-progress div{
    position:absolute;
    display:block;
    height:100%;
    margin:0;
    padding:0;
    width:0;
    left:0;
    top:0
}
.vjs-default-skin .vjs-play-progress{
    background:#000
}
.vjs-default-skin .vjs-seek-handle{
    width:1.5em;
    height:100%
}
.vjs-default-skin .vjs-seek-handle:before{
    padding-top:0.1em
}
.vjs-default-skin.vjs-live .vjs-time-controls,.vjs-default-skin.vjs-live .vjs-time-divider,.vjs-default-skin.vjs-live .vjs-progress-control{
    display:none
}
.vjs-default-skin.vjs-live .vjs-live-display{
    display:block
}
.vjs-default-skin .vjs-live-display{
    display:none;
    font-size:1em;
    line-height:3em
}
.vjs-default-skin .vjs-current-time{
    position:absolute;
    left:0;
    display:none
}
.vjs-default-skin .vjs-remaining-time{
    position:absolute;
    right:0;
    display:none
}
.vjs-default-skin .vjs-duration{
    display:none
}
.vjs-time-divider,.vjs-default-skin .vjs-fullscreen-control{
    display:none
}
.vjs-default-skin .vjs-big-play-button{
    display:block;
    z-index:2;
    position:absolute;
    left:50%;
    margin:0 0 0 -30px;
    width:80px;
    height:100%;
    cursor:pointer;
    opacity:1;
    background:url(../images/play.png) center center no-repeat;
    background-size:80px auto;
    opacity:.8;
    outline:0 !important
}
.vjs-default-skin.vjs-controls-disabled .vjs-big-play-button,.vjs-default-skin.vjs-has-started .vjs-big-play-button,.vjs-default-skin.vjs-using-native-controls .vjs-big-play-button,.vjs-error .vjs-big-play-button{
    display:none
}
.vjs-error-display{
    display:none
}
.vjs-error .vjs-error-display{
    display:block;
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%
}
.vjs-error .vjs-error-display:before{
    content:'X';
    font-family:Arial;
    font-size:4em;
    color:#666666;
    line-height:1;
    text-shadow:0.05em 0.05em 0.1em #000;
    text-align:center;
    vertical-align:middle;
    position:absolute;
    left:0;
    top:50%;
    margin-top:-0.5em;
    width:100%
}
.vjs-error-display div{
    position:absolute;
    bottom:1em;
    right:0;
    left:0;
    font-size:1.4em;
    text-align:center;
    padding:3px;
    background:#000000;
    background:rgba(0,0,0,0.5)
}
.vjs-error-display a,.vjs-error-display a:visited{
    color:#F4A460
}
.vjs-loading-spinner{
    display:none;
    position:absolute;
    top:50%;
    left:50%;
    line-height:1;
    width:1em;
    height:1em;
    margin-left:-0.5em;
    margin-top:-0.5em;
    opacity:0.75
}
.vjs-waiting .vjs-loading-spinner,.vjs-seeking .vjs-loading-spinner{
    display:block
}
.vjs-error .vjs-loading-spinner{
    display:none;
    -webkit-animation:none;
    -moz-animation:none;
    -o-animation:none;
    animation:none
}
.vjs-default-skin .vjs-loading-spinner:before{
    content:"Loading…";
    font-size:20px;
    position:absolute;
    top:0;
    left:0;
    width:1em;
    height:1em;
    text-align:center
}
.autovideo .vjs-default-skin .vjs-playing .vjs-control-content{
    display:none
}
@-moz-keyframes spin{
    0%{
        -moz-transform:rotate(0deg)
    }
    100%{
        -moz-transform:rotate(359deg)
    }
}
@-webkit-keyframes spin{
    0%{
        -webkit-transform:rotate(0deg)
    }
    100%{
        -webkit-transform:rotate(359deg)
    }
}
@-o-keyframes spin{
    0%{
        -o-transform:rotate(0deg)
    }
    100%{
        -o-transform:rotate(359deg)
    }
}
@keyframes spin{
    0%{
        transform:rotate(0deg)
    }
    100%{
        transform:rotate(359deg)
    }
}
.vjs-default-skin .vjs-menu-button{
    float:right;
    cursor:pointer
}
.vjs-default-skin .vjs-menu{
    display:none;
    position:absolute;
    bottom:0;
    left:0em;
    width:0em;
    height:0em;
    margin-bottom:3em;
    border-left:2em solid transparent;
    border-right:2em solid transparent;
    border-top:1.55em solid #000000;
    border-top-color:rgba(7,40,50,0.5)
}
.vjs-default-skin .vjs-menu-button .vjs-menu .vjs-menu-content{
    display:block;
    padding:0;
    margin:0;
    position:absolute;
    width:10em;
    bottom:1.5em;
    max-height:15em;
    overflow:auto;
    left:-5em;
    background-color:#07141e;
    background-color:rgba(7,20,30,0.7);
    -webkit-box-shadow:-0.2em -0.2em 0.3em rgba(255,255,255,0.2);
    -moz-box-shadow:-0.2em -0.2em 0.3em rgba(255,255,255,0.2);
    box-shadow:-0.2em -0.2em 0.3em rgba(255,255,255,0.2)
}
.vjs-default-skin .vjs-menu-button:hover .vjs-control-content .vjs-menu,.vjs-default-skin .vjs-control-content .vjs-menu.vjs-lock-showing{
    display:block
}
.vjs-default-skin .vjs-menu-button ul li{
    list-style:none;
    margin:0;
    padding:0.3em 0 0.3em 0;
    line-height:1.4em;
    font-size:1.2em;
    text-align:center;
    text-transform:lowercase
}
.vjs-default-skin .vjs-menu-button ul li.vjs-selected{
    background-color:#000
}
.vjs-default-skin .vjs-menu-button ul li:focus,.vjs-default-skin .vjs-menu-button ul li:hover,.vjs-default-skin .vjs-menu-button ul li.vjs-selected:focus,.vjs-default-skin .vjs-menu-button ul li.vjs-selected:hover{
    outline:0;
    color:#111;
    background-color:#ffffff;
    background-color:rgba(255,255,255,0.75);
    -webkit-box-shadow:0 0 1em #ffffff;
    -moz-box-shadow:0 0 1em #ffffff;
    box-shadow:0 0 1em #ffffff
}
.vjs-default-skin .vjs-menu-button ul li.vjs-menu-title{
    text-align:center;
    text-transform:uppercase;
    font-size:1em;
    line-height:2em;
    padding:0;
    margin:0 0 0.3em 0;
    font-weight:bold;
    cursor:default
}
.vjs-default-skin .vjs-subtitles-button:before{
    content:"\e00c"
}
.vjs-default-skin .vjs-captions-button:before{
    content:"\e008"
}
.vjs-default-skin .vjs-chapters-button:before{
    content:"\e00c"
}
.vjs-default-skin .vjs-chapters-button.vjs-menu-button .vjs-menu .vjs-menu-content{
    width:24em;
    left:-12em
}
.vjs-default-skin .vjs-captions-button:focus .vjs-control-content:before,.vjs-default-skin .vjs-captions-button:hover .vjs-control-content:before{
    -webkit-box-shadow:0 0 1em #ffffff;
    -moz-box-shadow:0 0 1em #ffffff;
    box-shadow:0 0 1em #ffffff
}
.video-js{
    background-color:#fff;
    position:relative;
    padding:0;
    vertical-align:middle;
    font-weight:normal;
    font-style:normal;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}
.video-js .vjs-tech{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%
}
.video-js:-moz-full-screen{
    position:absolute
}
body.vjs-full-window{
    padding:0;
    margin:0;
    height:100%;
    overflow-y:auto
}
.video-js.vjs-fullscreen{
    position:fixed;
    overflow:hidden;
    z-index:1000;
    left:0;
    top:0;
    bottom:0;
    right:0;
    width:100% !important;
    height:100% !important;
    _position:absolute
}
.video-js:-webkit-full-screen{
    width:100% !important;
    height:100% !important
}
.video-js.vjs-fullscreen.vjs-user-inactive{
    cursor:none
}
.vjs-poster{
    background-repeat:no-repeat;
    background-position:50% 50%;
    background-size:contain;
    cursor:pointer;
    margin:0;
    padding:0;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0
}
.vjs-poster img{
    display:block;
    margin:0 auto;
    max-height:100%;
    padding:0;
    width:100%
}
.video-js.vjs-using-native-controls .vjs-poster{
    display:none
}
.video-js.vjs-user-inactive.vjs-playing .vjs-text-track-display{
    bottom:1em
}
.video-js .vjs-text-track{
    display:none;
    font-size:1.4em;
    text-align:center;
    margin-bottom:0.1em;
    background-color:#000000;
    background-color:rgba(0,0,0,0.5)
}
.video-js .vjs-subtitles{
    color:#fff
}
.video-js .vjs-captions{
    color:#fc6
}
.vjs-tt-cue{
    display:block
}
.video-js.vjs-fullscreen .vjs-text-track{
    font-size:3em
}
.vjs-default-skin .vjs-hidden{
    display:none
}
.vjs-lock-showing{
    display:block !important;
    opacity:1;
    visibility:visible
}
.vjs-no-js{
    padding:20px;
    color:#ccc;
    background-color:#333;
    font-size:18px;
    font-family:Arial, sans-serif;
    text-align:center;
    width:300px;
    height:150px;
    margin:0px auto
}
.vjs-no-js a,.vjs-no-js a:visited{
    color:#F4A460
}
@media only screen and (max-width: 2030px){
    .term-selected .project-list>article{
        width:50%
    }
    .term-selected .project-list>article:nth-child(3n+1){
        clear:none !important
    }
    .term-selected .project-list>article:nth-child(2n+1){
        clear:left !important
    }
}
@media only screen and (max-width: 1600px){
    body{

    }
    .header .desc{
        width:460px
    }
    .slider-list{
        padding:0;
        width:960px
    }
    .inner{
        position:relative;
    }
    .slider-list .item{
        padding:30px 30px 65px
    }

    .more-content .box {
        margin-left: 395px;
    }

    #footer{
        padding:30px 20px 60px
    }
    .project-list>article .content{
        padding:10px 35px 0 35px
    }
    .project-list>article .content h1{
        padding:10px 0 5px
    }
    .project-gallery .gallery-item .content{
        padding:20px 20px 40px 20px
    }
    body.single-type_project .vjs-default-skin .vjs-progress-control{
        bottom:10px
    }
    .project-list>article{
        width:33.33%
    }
    .project-list>article:nth-child(4n+1){
        clear:none
    }
    .project-list>article:nth-child(3n+1){
        clear:left
    }
}
@media only screen and (max-width: 1200px){
    body{

    }
    .slider-list .item{
        padding:30px 22px 65px
    }
    
    #footer{
        padding:30px 20px 60px
    }
    .inner .inner-content{
        padding-left:0;
        padding-right:0
    }
    .header .desc{
        width:350px
    }
    .slider-list{
        width:759px
    }
    .more-content .box {
        margin-left: 396px;
    }
    .slider-list .item-small{
        float:none;
        width:auto
    }
    .header .sub-menu{
        clear:both
    }
    .slider-list .item{
        margin-left:0;
        margin-right:0
    }
    .page-content,.post-list .post{
        padding-left:0;
        padding-right:0
    }
    .slider-container .item.text{
        font-size:28px;
        line-height:1.25
    }
    .slider-list .item-1 .hover-text>div p,.cover-content .box .col{
        font-size:24px
    }
    .page-announcements .post-list .gallery-item{
        width:715px
    }
    .page-announcements .post-list .gallery-item img{
        max-height:715px;
        max-width:715px
    }
    .project-list>article{
        width:50%;
        float:left
    }
    .term-selected .project-list>article{
        width:50%;
        float:left
    }
    .project-list>article:nth-child(3n+1){
        clear:none
    }
    .project-list>article:nth-child(odd){
        clear:left
    }
    .vjs-default-skin .vjs-big-play-button{
        width:60px;
        background-size:60px auto;
        margin-left:-21px
    }
    .vjs-default-skin .vjs-playing .vjs-control-content,.vjs-default-skin .vjs-paused .vjs-control-content{
        width:60px;
        background-size:60px auto;
        margin-left:-21px
    }
    .project-gallery .gallery-item .content{
        padding:20px 20px 30px 20px
    }
    .project-list>article .content h1{
        height:40px
    }
    body.single-type_project .vjs-default-skin .vjs-progress-control{
        bottom:5px
    }
}
@media only screen and (max-width: 824px){
    body{

    }
    .page-about-the-studio .inner {
        padding-left: 229px;
        width: 450px;
    }
    .slider-list .item{
        padding:30px 20px 65px
    }
    .sub-sub-menu{
        padding-bottom:20px
    }
    .sub-menu-about{
        padding-left:227px;
    }
    .page-employment .inner,
    .page-about-the-studio .inner{
        padding-left:247px
    }
    .page-get-in-touch .inner{
        padding-left:316px;
                width: 386px;
    }
    #footer{
        padding:30px 20px 60px
    }
    .slider-list{
        width:495px
    }
    .header .desc{
        clear:both;
        padding:20px 0 0 119px;
        width:auto
    }
    .home .num,.project-info a{
        display:none
    }
    .project-gallery .gallery-item.left,.project-list>article,.term-selected .project-list>article{
        width:100%
    }
    .slider-list .item-1 .hover-text>div p,.cover-content .box .col{
        font-size:16px
    }
    .header{
        padding:20px
    }
    .inner{
        padding:0 110px 0 109px
    }
    .slider-list .item .hover>div p{
        font-size:24px
    }
    .slider-title .reader-more{
        display:block
    }
    .slider-title{
        left:20px;
        bottom:15px;
        right:20px;
        top:auto
    }
    .more-content .box{
        max-width:100%;
        padding:0 20px;
        margin-top:4em;
        margin-left:0;
        height:72%;
        overflow:scroll
    }
    .footer .footer-inner{
        padding-left:80px
    }
    .footer .content .bottom.first{
        float:none;
        clear:both;
        padding-bottom:40px
    }
    .footer .content .bottom .tel{
        display:block
    }
    .slider-container .item.text{
        font-size:24px;
        line-height:1.25
    }
    .page-announcements .post-list .gallery-item{
        width:455px
    }
    .page-announcements .post-list .gallery-item img{
        max-height:455px;
        max-width:455px
    }
    .vjs-default-skin .vjs-control{
        font-size:17px
    }
    .vjs-default-skin .vjs-control-bar{
        bottom:0px
    }
    .vjs-default-skin .vjs-big-play-button{
        background-size:40px auto;
        margin-left:-28px
    }
    .vjs-default-skin .vjs-playing .vjs-control-content,.vjs-default-skin .vjs-paused .vjs-control-content{
        background-size:40px auto;
        margin-left:-28px
    }
}
@media only screen and (max-width: 560px){
    body{
        font-size:14px;
        line-height:18px;
        line-height:1.125rem
    }
    .logo{
        width:auto !important
    }
    .header{
        padding:12px 12px 0
    }
    .sub-menu-project,.text-list .list,.sub-menu-about{
        padding-left:0px
    }
    .header .navi{
        margin-left:px
    }
    .header .navi li{
        padding-right:0;
        padding-left:10px
    }
    .slider-list .item{
        padding:10px 10px
    }
    .slider-container{
        left:15px;
        top:100px;
        right:15px;
        bottom:15px
    }
    .home .slider-container{
        top:20px
    }
    .slider-container .item .table .col img{
        max-width:100%
    }
    .slider-title{
        left:12px;
        bottom:12px;
        right:12px
    }
    .header .desc{
        padding:20px 0 0 0
    }
    .home .footer{
        width:280px
    }
    .inner{
        padding:0 20px
    }
    .project-list{
        padding:0 10px
    }
    .project-list>article .content h1{
        color:#353535;
        height:60px
    }
    .page-get-in-touch .enter{
        padding-top:15px
    }
    .project-info{
        left:0;
        right:0;
        width:100%;
        bottom:12px
    }
    .project-info h2{
        margin:0 auto;
        width:90%;
        position:relative
    }
    .project-info a{
        text-align:center;
        position:relative;
        display:block;
        width:100%;
        right:0
    }
    .slider-title .reader-more,.slider-title .num{
        display:inline-block
    }
    .slider-title .reader-more{
        padding-right:8px
    }
    .pagenavi_next{
        top:auto;
        bottom:12px
    }
    .page-about-the-studio .inner,
    .page-get-in-touch .inner,
    .page-employment .inner{
        padding-left:12px;
            width: 92%;
    }
    .slider-container .item .table .col img{
        max-height:80%
    }
    .slider-list .item-1 .hover-text>div p,.cover-content .box .col{
        font-size:9px
    }
    .project-list>article .content{
        padding:0 2px
    }
    .slider-title{
        padding-right:10px
    }
    .slider-title h1{
        display:block;
        white-space:nowrap;
        overflow:hidden;
        text-overflow:ellipsis;
        padding-right:0
    }
    .slider-list .item .hover>div p{
        font-size:18px
    }
    .more-content .box{
        padding:0 12px
    }
    .project-gallery .gallery-item .content{
        padding:20px 20px
    }
    .slider-container .item.text{
        font-size:14px;
        line-height:1.25
    }
    .footer .footer-inner{
        padding-left:0;
        padding-top:40px
    }
    .footer .content .bottom,.footer .content .text,.footer .content .bottom.first{
        padding-bottom:20px
    }
    .page-announcements .post-list .gallery-item{
        width:280px
    }
    .page-announcements .post-list .gallery-item img{
        max-height:280px;
        max-width:280px
    }
    .vjs-default-skin .vjs-control{
        font-size:15px
    }
    .vjs-default-skin .vjs-big-play-button{
        background-size:30px auto
    }
    .vjs-default-skin .vjs-playing .vjs-control-content,.vjs-default-skin .vjs-paused .vjs-control-content{
        background-size:30px auto
    }
    .project-gallery .gallery-item .content{
        padding:20px 20px 10px 20px
    }
    body.single-type_project .vjs-default-skin .vjs-progress-control{
        bottom:0px
    }
}
@media only screen and (max-width: 320px){
    .slider-container .item .table .col iframe{
        height:133px !important;
        width:200px !important
    }
    .header .navi{
 /*       padding-left:5px*/
    }
    .header .navi li{
        padding-left:10px
    }
    
    .header .navi li:first-child{
        padding-right:10;
        padding-left:6px
    }
}
@media print{
    *{
        background:transparent !important;
        color:black !important;
        text-shadow:none !important;
        filter:none !important;
        -ms-filter:none !important
    }
    a,a:visited{
        color:#444 !important;
        text-decoration:underline
    }
    a[href]:after{
        content:" (" attr(href) ")"
    }
    abbr[title]:after{
        content:" (" attr(title) ")"
    }
    .ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after{
        content:""
    }
    pre,blockquote{
        border:1px solid #999;
        page-break-inside:avoid
    }
    thead{
        display:table-header-group
    }
    tr,img{
        page-break-inside:avoid
    }
    img{
        max-width:100% !important
    }
    @page{
        margin:0.5cm
    }
    p,h2,h3{
        orphans:3;
        widows:3
    }
    h2,h3{
        page-break-after:avoid
    }
}
 